/*********************************** SCREEN ************************************/
@media screen {

    h1 {
        color: var(--palette7);
    }

    body > main > div > div {
        background-color: white;
        padding: 10% 0;
        margin-bottom: 10%;
        box-shadow: 0px 5px 10px -3px var(--palette7);
        /************************* TO REMOVE *************************/
        border-radius: 20px;
        border: 0px solid;
        border-color: var(--palette3);
    }

    body > main > div > div > form > div {
        display: flex;
        margin-top: 5%;
    }

    body > main > div > div > form > div:last-of-type {
        margin-top: 2%;
    }

    body > main > div > div > form > div > input[type="text"] {
        width: 60%;
        padding: 1% 0 1% 2%;
        margin: 0 auto 3% auto;
        border-radius: 2000px;
        border: 0px solid;
        background-color: var(--palette8);
    }

    body > main > div > div > form > div > input[type="text"]:not(:placeholder-shown) {
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    body > main > div > div > form > div > table {
        width: 90%;
        margin: 0 auto 5% auto;
        color: var(--palette7);
        background-color: var(--palette8);
        border: 0px solid;
        border-color: var(--palette3);
        border-radius: 20px;
    }

    body > main > div > div > form > div > table > tbody > tr {
        box-sizing: border-box;
    }

    body > main > div > div > form > div > table > tbody > tr:nth-of-type(even) {
        background-color: white;
    }

    body > main > div > div > form > div > table > tbody > tr:last-of-type > th {
        border-radius: 0 0 0 20px;
    }

    body > main > div > div > form > div > table > tbody > tr:last-of-type > td {
        border-radius: 0 0 20px 0;
    }

    body > main > div > div > form > div > table > tbody > tr > th,
    body > main > div > div > form > div > table > tbody > tr > td {
        padding: 1% 0;
    }

    body > main > div > div > form > div > table > tbody > tr > th {
        width: 30%;
        text-align: right;
        padding-right: 3%;
        box-sizing: border-box;
    }

    body > main > div > div > form > div > table > tbody > tr > td {
        width: 70%;
        text-align: left;
        padding-left: 3%;
        box-sizing: border-box;
    }

    body > main > div > div > form > div > button {
        width: fit-content;
        padding: 1% 3%;
        color: var(--palette8);
        background-color: var(--palette3);
        border-radius: 2000px;
        border: 0px solid;
        cursor: pointer;
        font-size: 2em;
    }

    body > main > div > div > form > div > button:first-of-type {
        margin-left: auto;
    }

    body > main > div > div > form > div > button:nth-of-type(2) {
        margin: 0 3%;
    }

    body > main > div > div > form > div > button:last-of-type {
        margin-right: auto;
    }

    body > main > div > div > p {
        font-size: 0px;
        margin-top: 0%;
        transition: all 0.5s 0s ease;
        -webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
    }

    body > main > div > div > p:first-of-type {
        color: var(--paletteEx2)!important;
    }

    body > main > div > div > p:last-of-type {
        color: var(--paletteEx1)!important;
    }

    body > main > div > div > p.errorMessageShow {
        margin-top: 4%;
        font-size: 2em;
    }

    body > main > div > div > p.errorMessageHide {
        margin-top: 0%;
        font-size: 2em;
    }

    body > main > div > div > p.successMessageShow {
        margin-top: 4%;
        font-size: 2em;
    }

    body > main > div > div > p.successMessageHide {
        margin-top: 0%;
        font-size: 2em;
    }

}

/*********************************** DESKTOP ***********************************/

@media screen and (min-width: 1200px) {

    body > main > div > div {
        margin: 0 25%;
        padding: 5% 0;
    }

    body > main > div > div > p.errorMessageShow {
        margin-top: 4%;
        font-size: 1.2em;
    }

    body > main > div > div > p.errorMessageHide {
        margin-top: 0%;
        font-size: 1.2em;
    }

    body > main > div > div > p.successMessageShow {
        margin-top: 4%;
        font-size: 1.2em;
    }

    body > main > div > div > p.successMessageHide {
        margin-top: 0%;
        font-size: 1.2em;
    }

    body > main > div > div > form > div > button {
        font-size: 1.2em;
    }

}