/*********************************** SCREEN ************************************/
@media screen {

    h1 {
        display: none;
        width: fit-content;
        margin: 0 auto 3% auto;
        padding: 1% 2%;
        color: var(--paletteEx2);
        background-color: white;
        border-radius: 2000px;
        border: 3px solid;
    }

    caption {
        display: none;
    }

    #addDiv {
        display: none;
    }

    body > main > div > div {
        background-color: white;
        padding: 5% 0 5% 0;
        margin-bottom: 10%;
        min-height: 200px;
        box-shadow: 0px 5px 10px -3px var(--palette7);
        /************************* TO REMOVE *************************/
        border-radius: 20px;
        border: 0px solid;
        border-color: var(--palette3);
    }

    body > main > div > div:first-of-type {
        min-height: 0;
    }

    body > main > div > div:first-of-type > form {
        margin-top: 0;
    }

    body > main > div > div:first-of-type > form > div{
        display: block;
    }

    body > main > div > div:first-of-type > form > div:last-of-type {
        margin-top: 5%;
    }

    body > main > div > div:first-of-type > form > div > label {
        display: none;
    }

    body > main > div > div:first-of-type > form > div > input {
        width: 25%;
        padding: 2% 0 2% 3%;
        margin-bottom: 0;
        border-radius: 2000px;
        border: 0px solid;
        background-color: var(--palette8);
    }

    body > main > div > div:first-of-type > form > div > input[type=number]:not(input[type=number]:last-of-type) {
        margin-right: 5%;
    }

    body > main > div > div:first-of-type > form > div > input[type=submit]{
        width: fit-content;
        padding: 2% 5%;
        color: var(--palette8);
        background-color: var(--palette3);
        margin: 0;
        cursor: pointer;
    }

    body > main > div > div > form > div {
        display: flex;
    }

    body > main > div > div > form > div > input[type="text"] {
        width: 50%;
        margin: 0 3% 0 auto;
    }

    body > main > div > div > form > div > input[type="text"]:not(:placeholder-shown) {
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    body > main > div > div > form > div > button {
        display: inline-flex;
        width: 25%;
        margin-right: auto;
    }

    body > main > div > div > form > div > button > p {
        font-size: 2.3em;
        margin: auto 0 auto auto;
        color: var(--palette8);
    }

    body > main > div > div > form > div > button > object {
        height: 3em;
        margin: 5% auto 5% 10%;
    }

    body > main > div > div > canvas {
        width: 100%;
        padding: 0 2%;
        margin: 5% 0;
    }

    body > main > div > div > div {
        display: flex;
        margin: 5% 0;
    }

    body > main > div > div > div:nth-of-type(2),
    body > main > div > div > div:nth-of-type(3) {
        display: block;
        overflow-x: auto;
        width: 96%;
        margin: 3% 2% 0 2%;
        max-height: 70em;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    body > main > div > div > div:nth-of-type(3)::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body > main > div > div > div:nth-of-type(3) {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body > main > div > div > div > button {
        display: inline-flex;
        width: 20%;
    }

    body > main > div > div > div > button:first-of-type {
        margin-left: auto;
    }

    body > main > div > div > div > button:last-of-type {
        margin-right: auto;
    }

    body > main > div > div > div > button:not(button:last-of-type) {
        margin-right: 5%;
    }

    body > main > div > div > div > button > object {
        height: 3em;
        margin: 5% auto;
    }

    body > main > div > div > div > table {
        width: max-content;
        margin: 3% auto 0 auto;
        background-color: var(--palette8);
        border: 0px solid;
        border-color: var(--palette3);
        border-radius: 20px;
        color: var(--palette7);
        cursor: default;
    }

    body > main > div > div > div > table > tbody > tr:last-of-type > td:first-of-type {
        border-radius: 0 0 0 20px;
    }

    body > main > div > div > div > table > tbody > tr:last-of-type > td:last-of-type {
        border-radius: 0 0 20px 0;
    }

    body > main > div > div > div > table > thead > tr > th,
    body > main > div > div > div > table > tbody > tr > td {
        margin: 0 1%;
        padding: 1% 15px;
    }

    body > main > div > div > div:nth-of-type(3) > table {
        width: 100%;
    }

    tbody > tr:nth-child(odd) {
        background-color: white;
    }

    tr:hover {
        background-color: var(--palette3) !important;
        color: var(--palette8);
        transition: all 0.3s 0s linear;
        -webkit-transition: all 0.3s 0s linear;
        -moz-transition: all 0.3s 0s linear;
    }

    tr:hover > th:first-of-type,
    tr:hover > td:first-of-type {
        border-radius: 2000px 0 0 2000px !important;
    }

    tr:hover > th:last-of-type,
    tr:hover > td:last-of-type {
        border-radius: 0 2000px 2000px 0 !important;
    }

    body > main > div > div > div:last-of-type {
        margin: 5% 0 0 0;
    }

    body > main > div > div > div:last-of-type > button {
        width: fit-content;
        padding: 2% 4%;
    }

    body > main > div > div > div:last-of-type > button > p{
        font-size: 2.3em;
        color: var(--palette8)
    }

}

/*********************************** DESKTOP ***********************************/

@media screen and (min-width: 1200px) {

    p {
        font-size: 1.5em;
    }

    body > main > div {
        width: 84%;
        margin: 0 8%;
        padding: 3% 0 5% 0;
    }

    body > main > div > div {
        width: 90%;
        margin: 0;
        padding: 3% 5%;
    }

    body > main > div > div:first-of-type {
        margin-bottom: 3%;
    }

    body > main > div > div:first-of-type > form > div:last-of-type {
        margin-top: 3%;
    }

    body > main > div > div:first-of-type > form > div > input {
        width: 20%;
        padding: 1% 0 1% 3%;
    }

    body > main > div > div:first-of-type > form > div > input[type=number]:not(input[type=number]:last-of-type) {
        margin-right: 3%;
    }

    body > main > div > div:first-of-type > form > div > input[type=submit]{
        padding: 1% 3%;
    }

    body > main > div > div > form > div > input[type="text"] {
        width: 40%;
        padding: 0 0 0 3%;
    }

    body > main > div > div > form > div > button{
        width: 15%;
        padding: 0;
    }

    body > main > div > div > form > div > button > p {
        font-size: 1.4em;
    }

    body > main > div > div > form > div > button > object {
        width: 1.5em;
        margin: 0 auto 0 10%;
    }

    body > main > div > div > canvas {
        margin: 5% 0 0 0;
    }

    body > main > div > div > div > button {
        display: flex;
        width: 15%;
    }

    body > main > div > div > div > button:first-of-type {
        margin-left: auto;
    }

    body > main > div > div > div > button > object {
        height: 1.5em;
        margin: 0 auto;
    }

    body > main > div > div > div {
        margin: 1% 0 3% 0;
    }

    body > main > div > div > div:nth-of-type(2) > p,
    body > main > div > div > div:nth-of-type(3) > p {
        font-size: 1.2em;
    }

    body > main > div > div > div:last-of-type {
        margin-top: 3%;
    }

    body > main > div > div > div:last-of-type > button {
        padding: 1% 3%;
    }

    body > main > div > div > div:last-of-type > button > p{
        font-size: 1.4em;
    }

}

/*********************************** PRINT *************************************/

@media print {

    *{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        color: black;
    }


    h1 {
        display: none;
    }

    label, input, button, canvas {
        display: none !important;
    }

    table {
        width: 100%;
        margin-top: 2%;
        text-align: center;
        border-collapse: collapse;
        font-size: 13px;
    }

    caption {
        margin-bottom: 2%;
    }

    tbody > tr:nth-child(odd) {
        background-color: var(--palette8);
    }

    thead > tr > th,
    thead > tr > td {
        border: solid #000 !important;
        border-width: 1px !important;
    }

    tbody > tr > th,
    tbody > tr > td {
        width: 5%;
        border: solid #000 !important;
        border-width: 0 0 1px 0 !important;
    }

}