/*********************************** SCREEN ************************************/
@media screen {

    body > main > div > div {
        background-color: white;
        padding: 5% 0 5% 0;
        margin-bottom: 10%;
        min-height: 200px;
        box-shadow: 0px 5px 10px -3px var(--palette7);
        /************************* TO REMOVE *************************/
        border-radius: 20px;
        border: 0px solid;
        border-color: var(--palette3);
    }

    body > main > div > div > form > div {
        display: flex;
    }

    body > main > div > div > form > div > input[type="text"] {
        width: 50%;
        margin: 0 3% 0 auto;
    }

    body > main > div > div > form > div > input[type="text"]:not(:placeholder-shown) {
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    body > main > div > div > form > div > button {
        display: inline-flex;
        width: 25%;
        margin-right: auto;
    }

    body > main > div > div > form > div > button > p {
        margin: auto 0 auto auto;
        color: var(--palette8);
    }

    body > main > div > div > form > div > button > object {
        height: 3em;
        margin: 5% auto 5% 10%;
    }

    body > main > div > div > div {
        display: none;
        /*display: flex;*/
        margin: 5% 0;
    }

    body > main > div > div > div > button {
        display: inline-flex;
        width: 20%;
    }

    body > main > div > div > div > button:first-of-type {
        margin-left: auto;
    }

    body > main > div > div > div > button:last-of-type {
        margin-right: auto;
    }

    body > main > div > div > div > button:not(button:last-of-type) {
        margin-right: 5%;
    }

    body > main > div > div > div > button > object {
        height: 3em;
        margin: 5% auto;
    }

    body > main > div > div > table {
        width: 94%;
        margin: 3% 3% 0 3%;
        background-color: var(--palette8);
        border: 0px solid;
        border-color: var(--palette3);
        border-radius: 20px;
        color: var(--palette7);
        cursor: default;
    }

    body > main > div > div > table > thead > tr > th,
    body > main > div > div > table > tbody > tr > td {
        padding: 1% 0;
    }

    body > main > div > div > table > tbody > tr:nth-of-type(odd) {
        background-color: white;
    }

    tr:hover {
        background-color: var(--palette3) !important;
        color: var(--palette8);
        transition: all 0.3s 0s linear;
        -webkit-transition: all 0.3s 0s linear;
        -moz-transition: all 0.3s 0s linear;
    }

    tr:hover > th:first-of-type,
    tr:hover > td:first-of-type {
        border-radius: 2000px 0 0 2000px;
    }

    tr:hover > th:last-of-type,
    tr:hover > td:last-of-type {
        border-radius: 0 2000px 2000px 0;
    }

    body > main > div > div > table > tbody > tr > td:first-of-type {
        font-family: monospace;
        font-size: 1.3em;
    }

    body > main > div > div > table > tbody > tr > td:nth-of-type(2) {
        width: 15%;
    }

    body > main > div > div > table > tbody > tr > td:nth-of-type(3) {
        width: 10%;
    }

    body > main > div > div > table > tbody > tr > td > button {
        background-repeat: no-repeat;
        background-color: inherit;
        width: 1.3em;
        height: 1.3em;
        margin: 0 3% 0 1%;
        border: none;
    }

    body > main > div > div > table > tbody > tr > td > form {
        width: 60%;
        display: inline-block;
    }

    body > main > div > div > table > tbody > tr > td > form > label {
        display: none;
    }

    body > main > div > div > table > tbody > tr > td > form > input[type="text"] {
        width: 80%;
        padding: 0 0 0 3%;
        box-sizing: border-box;
        font-size: 0.9em;
        border-radius: 2000px;
        border: 0px solid;
        background-color: var(--palette8);
        color: var(--palette6);
    }

    body > main > div > div > table > tbody > tr:nth-of-type(even) > td > form > input[type="text"] {
        background-color: white;
    }

    body > main > div > div > table > tbody > tr > td > form > button {
        background-repeat: no-repeat;
        background-color: inherit;
        display: none;
        width: 1.3em;
        height: 1.3em;
        margin: 0 0 0 3%;
        border: none;
    }

}

/*********************************** DESKTOP ***********************************/

@media screen and (min-width: 1200px) {

    p {
        font-size: 1.5em;
    }

    body > main > div {
        width: 90%;
        margin: 0 5%;
        padding: 3% 0 5% 0;
    }

    body > main > div > div {
        width: 70%;
        margin: 0 15%;
        padding: 3% 0;
    }

    body > main > div > div > form > div > input[type="text"] {
        width: 40%;
        padding: 0 0 0 3%;
    }

    body > main > div > div > form > div > button{
        width: 15%;
        padding: 0;
    }

    body > main > div > div > form > div > button > object {
        width: 1.5em;
        margin: 0 auto 0 10%;
    }

    body > main > div > div > div > button {
        display: flex;
        width: 15%;
    }

    body > main > div > div > div > button:first-of-type {
        margin-left: auto;
    }

    body > main > div > div > div > button > object {
        height: 1.5em;
        margin: 0 auto;
    }

    body > main > div > div > div {
        display: none;
        margin: 3% 0 3% 0;
    }

    body > main > div > div > div:last-of-type > p {
        font-size: 1.2em
    }

}