/*********************************** SCREEN ************************************/
@media screen {

    body > main > div > div {
        background-color: white;
        padding: 10% 0;
        box-shadow: 0px 5px 10px -3px var(--palette7);
        /************************* TO REMOVE *************************/
        border-radius: 20px;
        border: 0px solid;
        border-color: var(--palette3);
    }

    body > main > div > div:first-of-type {
        margin-bottom: 10%;
    }

    body > main > div > div > h1 {
        color: var(--palette7);
    }

    body > main > div > div > form {
        margin-top: 3%;
    }

    body > main > div > div > form > div > label {
        display: none;
    }

    body > main > div > div > form > div > input {
        width: 60%;
        padding: 1% 0 1% 2%;
        margin-bottom: 3%;
        border-radius: 2000px;
        border: 0px solid;
        background-color: var(--palette8);
    }

    body > main > div > div:last-of-type > form > div:nth-of-type(4) {
        display: flex;
    }

    #consentLabel {
        display: inline-block;
        width: 50%;
        margin: 0 0 3% auto;
        color: var(--palette7);
    }

    #consent {
        width: 10%;
        height: 1.3em;
        margin: auto auto auto 0;
        background: white;
        border-radius: 2000px;

    }

    body > main > div > div > form > div > input[type=submit]{
        width: fit-content;
        padding: 1% 5%;
        color: var(--palette8);
        background-color: var(--palette3);
        margin: 0;
        cursor: pointer;
    }

    body > main > div > div > form > div > button {
        width: fit-content;
        padding: 1% 5%;
        margin-right: 5%;
        color: var(--palette8);
        font-size: 2em;
        background-color: var(--palette3);
        border-radius: 2000px;
        border: 0px solid;
        cursor: pointer;
    }

    body > main > div > div > p {
        font-size: 0px;
        margin-top: 0%;
        color: var(--paletteEx2)!important;
        transition: all 0.5s 0s ease;
        -webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
    }

    body > main > div > div > p.errorMessageShow {
        margin-top: 4%;
        font-size: 2em;
    }

    body > main > div > div > p.errorMessageHide {
        margin-top: 0%;
        font-size: 2em;
    }

}


/*********************************** DESKTOP ***********************************/

@media screen and (min-width: 1200px) {

    body > main > div > div {
        margin: 0 25%;
        padding: 5% 0;
    }

    body > main > div > div:first-of-type {
        margin-bottom: 5%;
    }

    body > main > div > div > p.errorMessageShow {
        margin-top: 4%;
        font-size: 1.2em;
    }

    body > main > div > div > p.errorMessageHide {
        margin-top: 0%;
        font-size: 1.2em;
    }

    body > main > div > div > form > div > button {
        font-size: 1.2em;
    }

}