:root {
    /* Main palette colors*/
    --palette1: #7BCAFF;
    --palette2: #3E9FFF;
    --palette3: #3B6BFE;
    --palette4: #1212FF;
    --palette5: #0000B7;
    --palette6: #333333;
    --palette7: #525357;
    --palette8: #EEEEEE;
    /* Extra palette colors*/
    --paletteEx1: #77a464;
    --paletteEx2: #ff2121;
}

*{
    margin: 0;
    padding: 0;
}

/*********************************** SCREEN ************************************/

@media screen {

    object {
        cursor: pointer;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Arial, sans-serif;
        color:var(--palette7);
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-family: Arial, sans-serif;
        color:var(--palette7);
        font-size: 2em;
    }

    a {
        font-family: Arial, sans-serif;
        color:var(--palette3);
        font-size: 2em;
        text-decoration: none;
    }

    table, label {
        font-family: Arial, sans-serif;
        color:var(--palette3);
        font-size: 2em;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    li {
        cursor: pointer;
    }

    form > div > label {
        display: none;
    }

    form > div > input {
        width: 70%;
        padding: 1% 0 1% 3%;
        margin-bottom: 3%;
        border-radius: 2000px;
        border: 0px solid;
        background-color: var(--palette8);
        font-size: 2em;
        color: var(--palette6)
    }

    div > button {
        width: 30%;
        padding: 1% 0;
        color: var(--palette8);
        background-color: var(--palette3);
        border-radius: 2000px;
        border: 0px solid;
        cursor: pointer;
        transition: all 0.3s 0s ease;
        -webkit-transition: all 0.3s 0s ease;
        -moz-transition: all 0.3s 0s ease;
    }

    div > button:hover {
        background-color: var(--palette2);
    }

    button:active {
        transform: scale(0.9);
    }

    object {
        pointer-events: none;
    }

    /* The switch - the box around the slider */
    .switch {
        font-size: 2em;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 50px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 20px;
        left: 0.3em;
        bottom: 0.3em;
        background-color: white;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        transform: translateX(1.5em);
    }

    input:focus-visible,
    textarea:focus-visible,
    select:focus-visible,
    datalist:focus-visible {
        outline: none;
    }

    .errorMessage {
        color: var(--paletteEx2)!important;
    }

    .successMessage {
        color: var(--paletteEx1)!important;
    }

    .errorMessageShow {
        margin-top: 4%;
        font-size: 2em;
    }

    .errorMessageHide {
        margin-top: 0%;
        font-size: 2em;
    }

    .successMessageShow {
        margin-top: 4%;
        font-size: 2em;
    }

    .successMessageHide {
        margin-top: 0%;
        font-size: 2em;
    }

    body {
        /*background: linear-gradient(to bottom, var(--palette3) 7%, var(--palette8) 15%);*/
        background-color: var(--palette8);
    }

    body > header {
        background-color: var(--palette3);
        width: 100%;
        min-width: 678px;
        display: flex;
    }

    body > header > div#menu {
        width: fit-content;
        margin-left: 3%;
        margin-right: 10px;
        display: flex;
        cursor: pointer;
    }

    body > header > div > div#add {
        margin-left: 10px;
        margin-right: 3%;
        cursor: pointer;
    }

    body > header > div:first-of-type > object {
        height: 5em;
        margin: 10% 0;
    }

    body > header > div:last-of-type {
        width: inherit;
        display: flex;
    }

    body > header > div > a {
        margin: 0 auto;
    }

    body > header > div > a#add {
        margin: 0 3% 0 0;
    }

    #logoObject {
        width: 100%;
        height: 100%;
        margin: auto 0;
    }

    #addObject {
        height: 100%;
        margin: 0;
    }

    body > main {
        position: relative;
        min-width: 678px;
        min-height: 95vh;
        /************************* TO REMOVE *************************/
    }

    body > main > aside {
        left: -70%;
        width: fit-content;
        padding: 0 5% 5% 5%;
        border-radius: 0 0 20px 0;
        position: absolute;
        z-index: 1;
        background-color: var(--palette3);
        box-sizing: border-box;
    }

    body > main > aside > ul > li {
        margin-top: 15%;
    }

    body > main > aside > ul > li > a {
        font-size: 2em;
        z-index: 2;
        color: var(--palette8);
    }

    body > main > aside > ul > li > a:hover {
        color: var(--palette7);
    }

    body > main > div {
        margin: 0 2% 0 2%;
        padding: 5% 0 15% 0;
        width: 96%;
        text-align: center;
        /************************* TO REMOVE *************************/
        border-radius: 10px;
        border: 0px solid;
        border-color: var(--palette7);
        /*

         * background-color: var(--palette1);
         */
    }

    body > main > div > div {
        background-color: white;
        padding: 5% 5%;
        box-shadow: 0px 5px 10px -3px var(--palette7);
        /************************* TO REMOVE *************************/
        border-radius: 20px;
        border: 0px solid;
        border-color: var(--palette3);
    }

    body > footer {
        min-width: 678px;
        display: flex;
        z-index: 3;
        width: 100%;
        background-color: var(--palette3);
        text-align: center;

    }

    body > footer > div {
        height: fit-content;
        position: relative;
        top: 25%;
        bottom: 25%;
        margin: 1% 0;
    }

    body > footer > div:first-of-type {
        display: none;
    }

    body > footer > div:last-of-type {
        width: 100%;
    }

    body > footer > div > p {
        color: var(--palette8);
        display: inline;
    }

    body > footer > div > a {
        color: var(--palette1);
        display: inline;
        margin-left: 3%;
    }

}

/*********************************** DESKTOP ***********************************/

@media screen and (min-width: 1200px) {

    h1 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
    }

    a {
        font-size: 1.2em;
    }

    table,
    label {
        font-size: 1.2em;
    }

    .switch {
        font-size: 0.8em;
    }

    form > div > input {
        font-size: 1.2em;
    }

    body > header > div:first-of-type > object {
        height: 3em;
    }

    body > main > aside {
        width: fit-content;
        padding: 1% 3% 3% 3%;
    }

    body > main > aside > ul > li {
        margin-top: 10%;
    }

    body > main > aside > ul > li > a {
        font-size: 1em;
    }

    body > footer > div:first-of-type {
        display: block;
        width: 45%;
        margin-right: 10%;
        text-align: left;
        padding-left: 2%;
    }

    body > footer > div:last-of-type {
        width: 45%;
        text-align: right;
        padding-right: 2%;
    }

    body > footer > div > p,
    body > footer > div > a {
        font-size: 1em;
    }

}

/*********************************** PRINT *************************************/

@media print {

    body > header {
        display: none;
    }

    body > main > aside {
        display: none;
    }

    body > footer {
        display: none;
    }

}