/*********************************** SCREEN ************************************/
@media screen {

    h1 {
        color: var(--palette7);
    }

    body > main > div > div {
        background-color: white;
        padding: 10% 0;
        margin-bottom: 10%;
        min-height: 200px;
        box-shadow: 0px 5px 10px -3px var(--palette7);
        /************************* TO REMOVE *************************/
        border-radius: 20px;
        border: 0px solid;
        border-color: var(--palette3);
    }

    body > main > div > div > form {
        margin-top: 3%;
    }

    body > main > div > div > form > div {
        display: flex;
    }

    body > main > div > div > form > div > input[type="text"],
    body > main > div > div > form > div > input[type="password"] {
        width: 60%;
        padding: 1% 0 1% 2%;
        margin: 0 auto 3% auto;
        border-radius: 2000px;
        border: 0px solid;
        background-color: var(--palette8);
    }

    #linkCodeIn:not(:placeholder-shown) {
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    body > main > div > div > form > div > button,
    body > main > div > div > form > div > input[type="submit"] {
        width: fit-content;
        padding: 1% 5%;
        color: var(--palette8);
        background-color: var(--palette3);
        border-radius: 2000px;
        border: 0px solid;
        cursor: pointer;
    }

    body > main > div > div > form > div > button {
        font-size: 2em;
        margin-right: 5%;
        margin-left: auto;
    }

    body > main > div > div > form > div > input[type="submit"] {
        margin-right: auto;
        margin-bottom: 0;
    }

    body > main > div > div > p {
        font-size: 0px;
        margin-top: 0%;
        transition: all 0.5s 0s ease;
        -webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
    }

    body > main > div > div > p:first-of-type {
        color: var(--paletteEx2)!important;
    }

    body > main > div > div > p:last-of-type {
        color: var(--paletteEx1)!important;
    }

    body > main > div > div > p.errorMessageShow {
        margin-top: 4%;
        font-size: 2em;
    }

    body > main > div > div > p.errorMessageHide {
        margin-top: 0%;
        font-size: 2em;
    }

    body > main > div > div > p.successMessageShow {
        margin-top: 4%;
        font-size: 2em;
    }

    body > main > div > div > p.successMessageHide {
        margin-top: 0%;
        font-size: 2em;
    }

}

/*********************************** DESKTOP ***********************************/

@media screen and (min-width: 1200px) {

    body > main > div > div {
        margin: 0 25%;
        padding: 5% 0;
    }

    body > main > div > div > p.errorMessageShow {
        margin-top: 4%;
        font-size: 1.2em;
    }

    body > main > div > div > p.errorMessageHide {
        margin-top: 0%;
        font-size: 1.2em;
    }

    body > main > div > div > p.successMessageShow {
        margin-top: 4%;
        font-size: 1.2em;
    }

    body > main > div > div > p.successMessageHide {
        margin-top: 0%;
        font-size: 1.2em;
    }

    body > main > div > div > form > div > button {
        font-size: 1.2em;
    }

}